body{
    margin: 0;
    font-family: sans-serif;
}
header{
	width: 100%;
	background-color: #ab2346;
}
header label{
	width: 30px;
	height: 30px;
	padding: 10px;
}
header label img{
	width: 30px;
	height: auto;
}
header label:hover{
	cursor: pointer;
	background: rgba(0,0,0,0.5);
}
#btn_menu{
	display: none;
}
.menu ul{
	margin: 0;
	list-style: none;
	padding: 0;
}
.menu li{
	border-right: 1px solid #fff;
}
.menu ul a{
	display: block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
}
.menu li a:hover{
	background: rgba(0,0,0,0.5);
}
/* Media Queries Menu */
@media (max-width: 768px){
	header label{
		display: block;
	}
	.menu{
		position: absolute;
		background-color: #ab2346;
		width: 70%;
		margin-left: -70%;
		transition: all 0.3s; 
	}
	.menu ul{
		flex-direction: column;
	}
	.menu li{
		border-top: 1px solid #fff;
	}
	#btn_menu:checked ~ .menu{
		margin: 0;
	}
	}
}
.aside{
	background-color: #00b295;
	padding: 15px;
	margin: 10px;
	color: #fff;
	text-align: center;
	font-size: 14px;
}
footer{
	background-color: #ab2346;
	color: #fff;
	text-align: center;
	font-size: 12px;
	padding: 15px;
}
/* Columnas */
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}


[class=="col-"]{
	float: left;
	padding: 15px;
}
.row::after{
	content: "";
	clear: both;
	display: block;
}
@media (max-width: 768px){
	[class=="col-"]{
	width: 80%;
}
}
@media (max-width: 360px){
	[class=="col-"]{
	width: 100%;
}
}
